/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@keyframes zen-jello-animation-macos {
  0% {
    -moz-window-opacity: 0;
    -moz-window-transform: scale(0.8);
  }

  100% {
    -moz-window-opacity: 1;
    -moz-window-transform: scale(1);
  }
}

@keyframes zen-theme-picker-dot-animation {
  from {
    transform: scale(0.8) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  to {
    transform: scale(1) translate(-50%, -50%);
  }
}

/* Mark: Zen Glance */
@keyframes zen-glance-overlay-animation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zen-glance-overlay-animation-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes zen-back-and-forth-text {
  0%,
  10% {
    transform: translateX(0);
    left: 0;
  }

  45%,
  65% {
    transform: translateX(calc(-100% - 5px));
    left: 100%;
  }

  90%,
  100% {
    transform: translateX(0);
    left: 0;
  }
}

/* Mark: URL Bar */
@keyframes zen-urlbar-searchmode {
  0% {
    box-shadow: 0 0 20px
      color-mix(
        in srgb,
        color-mix(in srgb, var(--zen-primary-color), var(--toolbox-textcolor) 20%),
        light-dark(rgba(0, 0, 0, 0.3), transparent) 50%
      );
  }

  100% {
    box-shadow: 0 0 250px color-mix(in srgb, var(--zen-primary-color), transparent 100%);
  }
}
